<ion-header>
  <ion-toolbar>
    <ion-title>Modifier le produit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="editProduitForm" (ngSubmit)="onSubmit()" class="ion-padding">
    <ion-item>
      <ion-label position="floating">Nom</ion-label>
      <ion-input formControlName="nom" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Prix unitaire</ion-label>
      <ion-input formControlName="prixUnitaire" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Quantité</ion-label>
      <ion-input formControlName="quantite" type="number"></ion-input>
    </ion-item>
    <div class="ion-buttons" style="display: flex; justify-content: right;">
      <ion-button type="submit" color="primary">Modifier</ion-button>
      <ion-button color="danger" (click)="dismissModal()">Annuler</ion-button>
    </div>
  </form>
</ion-content>
